fastapi==0.135.3
joblib==1.5.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
numpy==2.4.4
optbinning==0.20.0
pandas==3.0.2
pydantic==2.12.5
pydantic_core==2.41.5
scikit-learn==1.7.2
scipy==1.17.1
statsmodels==0.14.6
uvicorn==0.43.0
